<header>
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Meetup</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">&nbsp;&nbsp;</li>
      <li><%= link_to "Users",'/' %></li>
      <li><%= link_to "Groups",'/groups' %></li>
    </ul>
  </div>
</nav> 
</header>